@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./utilities.scss";
@import "./loaders.scss";

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

.event-img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.events-header {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

main {
  flex-grow: 1;
}

.type-box {
  background-color: olive;
  color: lightblue;
  max-width: fit-content;
}

.event-details {
  background-color: darkcyan;
  color: aliceblue;
}

.profile-img {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }

    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}